.restaurant-button{
	text-align: center;
	margin-top: 10px;  
}

.align-right{
	text-align: right;
}

.align-center{
	text-align: center;
}

.vertical-align{
	vertical-align: middle;
}

.price{
	color: red;
	text-align: center;
	font-size: 24px; 
}