<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>PAW</display-name>

	<servlet>
		<servlet-name>Restaurants</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.controller.Restaurants</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RestaurantDetail</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.controller.RestaurantDetail</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ControlPanel</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.controller.ControlPanel</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.controller.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SignUp</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.controller.SignUp</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrderController</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.controller.OrderController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Restaurants</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RestaurantDetail</servlet-name>
		<url-pattern>/restaurant</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControlPanel</servlet-name>
		<url-pattern>/panel</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignUp</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderController</servlet-name>
		<url-pattern>/order</url-pattern>
	</servlet-mapping>
	
</web-app>
